<ion-header>
    <ion-navbar>
        <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Item Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h3 text-center *ngIf="selectedItem">
        {{selectedItem.title}}
        <ion-icon [name]="selectedItem.icon"></ion-icon>
    </h3>
    <h4 text-center *ngIf="selectedItem">
        You navigated here from <b>{{selectedItem.title}}</b>
    </h4>
    <p>
        <button ion-button round>Question</button>
    </p>
    <p>
        <button ion-button full>Les sols sableux-limoneux bien drainés conviennent au niébé</button>
        <button ion-button full>Réponse 2</button>
        <button ion-button full>Réponse 3</button>
        <button ion-button full>Réponse 4</button>
    </p>
    <p>
        <button ion-button round>Question 2</button>
    </p>
    <p>
        <button ion-button full>Réponse 1</button>
        <button ion-button full>Réponse 2</button>
        <button ion-button full>Réponse 3</button>
        <button ion-button full>Réponse 4</button>
    </p>
    <p>
        <button ion-button round>Question 3</button>
    </p>
    <p>
        <button ion-button full>Réponse 1</button>
        <button ion-button full>Réponse 2</button>
        <button ion-button full>Réponse 3</button>
        <button ion-button full>Réponse 4</button>
    </p>

    <p>
        <button ion-button round>Valider</button>
    </p>
</ion-content>
