page-item-details {

}


.sarclage {
    background-image: url('../../assets/imgs/fond1.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}